/*「#」でIDを指定*/
#gnav{

    background-color: rgba(64, 144, 209, 0.747);
    width: 100%;
    
    }
    
    #gnav ul li{
    /*ヘッダーのセクション*/
    display: inline-flex;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    width: 100px;
    }
    
    .inner {
    
    text-align: center;
    
    }
        
    /*「.」でクラスを指定　*/
    header{
        margin-top: 0;
        width: 100%;
    }


    header .headline{
        padding-left: 0;
        font-size: 300%;
    }
    
    #footerCon{
        text-align: center;
    } 