/*「#」でIDを指定*/
#gnav{

background-color: rgb(198, 202, 200);

}

#gnav ul li{
/*ヘッダーのセクション*/
display: inline-flex;
justify-content: center;
background-color: rgb(231, 231, 231);
width: 100px;
}

.inner {

text-align: center;

}

body{
    /*サイトの左右の端に余白を設定*/
    margin-right: 200px;
    margin-left: 200px;
}

/*「.」でクラスを指定　*/
header .headline{
    text-align: center;
    font-size: 300%;
}

#footerCon{
    text-align: center;
}

.stores{
    /*text-align: center;*/
    margin-left: 130px;
}
