/*「#」でIDを指定*/
#gnav{

background-color: rgb(198, 202, 200);

}

#gnav ul li{

display: inline;

}

body{
    /*サイトの左右の端に余白を設定*/
    margin-right: 150px;
    margin-left: 150px;
}

/*「.」でクラスを指定　*/
header .headline{
    text-align: center;
    font-size: 300%;
}

#footerCon{
    text-align: center;
}

.stores{
    /*text-align: center;*/
    margin-left: 150px;
}