#gnav{

background-color: rgb(198, 202, 200);

}

#gnav ul li{

display: inline;

}

body{
    margin: 0;
}

header .headline{
    text-align: center;
}

#footerCon{
    text-align: center;
}

#stores{
    text-align: center;
}